<h1>Listing bird lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bird_lists.each do |bird_list| %>
  <tr>
    <td><%= bird_list.name %></td>
    <td><%= link_to 'Show', bird_list %></td>
    <td><%= link_to 'Edit', edit_bird_list_path(bird_list) %></td>
    <td><%= link_to 'Destroy', bird_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bird list', new_bird_list_path %>
