<p id="notice"><%= notice %></p>

<p>
    <b>Name:</b>
    <%= @bird_list.name %>
</p>


<%= form_for @bird_list do |list_form| %>
    <% @bird_list.bird_entries.each do |entry| %>
        <%= render :partial => 'bird_entries/bird_entry', :locals => {:entry => entry} %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_bird_list_path(@bird_list) %> |
<%= link_to 'Back', bird_lists_path %>