<div id="sightings_<%= entry.id %>" class = "hidden">
<% entry.sightings.each do |sighting| %>
    <div>
      <%= sighting.place %>
      <%= sighting.date %>
    </div>
<% end %>
<div>
  <%= fields_for entry, :index => entry.id do |entry_form| %>
      <%= entry_form.fields_for :sighting do |sighting_form| %>
          <%= sighting_form.text_field :place %>
          <%= sighting_form.text_field :date %>
          <%= link_to "Save", '#', 'data-update-action'=> new_sighting_path(entry) %>
      <% end %>
  <% end %>
</div>
</div>
