<div id="sightings_<%= entry.id %>" class="sightings hidden">
  <h3>Sightings:</h3>
  <ol>
    <% entry.sightings.each do |sighting| %>
        <li>
          <span class="place"><%= sighting.place %></span>
          <span class="date"><%= sighting.date %></span>
          <td></td>
        </li>
    <% end %>
    <%= fields_for entry, :index => entry.id do |entry_form| %>
        <li>
        <%= entry_form.fields_for :sighting do |sighting_form| %>
            <span><%= sighting_form.text_field :place %></span>
            <span><%= sighting_form.text_field :date, :class=> "date" %></span>
            <span><%= link_to "Save", '#', 'data-click-update-action'=> new_sighting_path(entry) %></span>
        <% end %>
        </li>
    <% end %>
  </ol>
</div>
